# Overload values for persistence here to mount our media pvc
persistence:
  config:
    enabled: true
    existingClaim: radarr
    targetSelector:
      main:
        main:
          mountPath: /config
      exportarr:
        exportarr:
          mountPath: /config
          readOnly: true
  media:
    enabled: true
    existingClaim: ds1522-media
    mountPath: "/media"

# Disabling metrics - we do not have a Prometheus instance set up yet.
metrics:
  main:
    enabled: false
