apiVersion: apps/v1
kind: Deployment
metadata:
  name: cyberghostvpn
  labels:
    app: cyberghostvpn
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cyberghostvpn
  template:
    metadata:
      labels:
        app: cyberghostvpn
    spec:
      containers:
        - name: cyberghostvpn
          image: tmcphee/cyberghostvpn:latest
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
          env:
            - name: TZ
              value: "America/Los_Angeles"
            # - name: ACC
            #   value: "example@gmail.com"
            # - name: PASS
            #   value: "mypassword"
            - name: COUNTRY
              value: "US"
            - name: NETWORK
              value: "10.42.0.0/16"
            - name: WHITELISTPORTS
              value: "9090,8080"
          ports:
            - containerPort: 9090
              hostPort: 9090
            - containerPort: 8080
              hostPort: 8080
          volumeMounts:
            - name: config-volume
              mountPath: /home/root/.cyberghost
              readOnly: false
      volumes:
        - name: config-volume
          hostPath:
            path: /local/path/to/config # Replace with the actual local path
            type: Directory
      restartPolicy: Always
