image:
  repository: lscr.io/linuxserver/unifi-network-application:latest
  tag: latest
  pullPolicy: Always
service:
  main:
    ports:
      main:
        protocol: https
        port: 8443
        targetPort: 8443
  comm:
    enabled: true
    type: LoadBalancer
    ports:
      comm:
        enabled: true
        port: 8080
        targetPort: 8080
  stun:
    enabled: true
    ports:
      stun:
        enabled: true
        port: 3478
        targetPort: 3478
        protocol: udp
  speedtest:
    enabled: true
    ports:
      speedtest:
        enabled: true
        port: 6789
        targetPort: 6789
  guestportal:
    enabled: true
    ports:
      web:
        enabled: true
        port: 8880
        targetPort: 8880
        protocol: http
      websecure:
        enabled: true
        port: 8843
        targetPort: 8843
        protocol: https
persistence:
  config:
    enabled: true
    existingClaim: unifi
    mountPath: "/unifi"
portal:
  open:
    enabled: true
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
workload:
  main:
    podSpec:
      containers:
        main:
          env: {}
