---
# This is the default gateway for the cluster. It is used to route traffic to a variety of services that can be co-located behind the same load balancer.
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: default-gateway
  namespace: gateway # custom namespace for gateways
  annotations:
    cert-manager.io/cluster-issuer: cloudflare
spec:
  gatewayClassName: cilium
  listeners:
    # HTTP redirect to HTTPS
    - protocol: HTTP
      port: 80
      name: https-redirect
    # Longhorn
    - protocol: HTTPS
      port: 443
      name: longhorn
      hostname: "longhorn.local.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: longhorn-local-julianmaze-com-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: longhorn-system
    # Media services
    - protocol: HTTPS
      port: 443
      name: media
      hostname: "*.media.jmaz.tv"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: wildcard-media-jmaz-tv-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: media
    # local.julianmaze.com
    - protocol: HTTPS
      port: 443
      name: local-subdomain
      hostname: "*.local.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: wildcard-local-julianmaze-com-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchExpressions:
              - key: kubernetes.io/metadata.name
                operator: In
                values:
                  - longhorn-system
                  - development
    # home assistant public
    - protocol: HTTPS
      port: 443
      name: home-assistant-public
      hostname: "home.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: home-julianmaze-com-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            # There should be multiple here
            matchLabels:
              kubernetes.io/metadata.name: external-services
    # scrypted home public
    - protocol: HTTPS
      port: 443
      name: scrypted-home-public
      hostname: "scrypted-home.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: scrypted-home-julianmaze-com-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            # There should be multiple here
            matchLabels:
              kubernetes.io/metadata.name: external-services
    # storage.jmaz.tv
    - protocol: HTTPS
      port: 443
      name: storage-jmaz-tv
      hostname: "storage.jmaz.tv"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: storage-jmaz-tv-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            # There should be multiple here
            matchLabels:
              kubernetes.io/metadata.name: external-services
    # photos.jmaz.tv
    - protocol: HTTPS
      port: 443
      name: photos-jmaz-tv
      hostname: "photos.jmaz.tv"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: photos-jmaz-tv-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            # There should be multiple here
            matchLabels:
              kubernetes.io/metadata.name: external-services
    # surfcam.julianmaze.com
    - protocol: HTTPS
      port: 443
      name: surfcam-redirect
      hostname: "surfcam.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: surfcam-julianmaze-com-tls
    # overseerr.jmaz.tv
    - protocol: HTTPS
      port: 443
      name: overseerr
      hostname: "overseerr.jmaz.tv"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: overseerr-jmaz-tv-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: media
    # media.jmaz.tv old cluster - temp listener
    - protocol: TLS
      port: 443
      name: media-legacy-passthrough
      hostname: "media.jmaz.tv"
      tls:
        mode: Passthrough # TLS is handled by the ingress in jmaze-k8s
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: external-services
    # code.julianmaze.com old cluster - temp listener
    - protocol: TLS
      port: 443
      name: code-legacy-passthrough
      hostname: "code.julianmaze.com"
      tls:
        mode: Passthrough # TLS is handled by the ingress in jmaze-k8s
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: external-services
    # tautulli.julianmaze.com old cluster - temp listener
    - protocol: TLS
      port: 443
      name: tautulli-legacy-passthrough
      hostname: "tautulli.julianmaze.com"
      tls:
        mode: Passthrough # TLS is handled by the ingress in jmaze-k8s
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: external-services
    # network.local.julianmaze.com old cluster - temp listener
    - protocol: TLS
      port: 443
      name: network-local-legacy-passthrough
      hostname: "network.local.julianmaze.com"
      tls:
        mode: Passthrough # TLS is handled by the ingress in jmaze-k8s
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: external-services
