---
# This is the default gateway for the cluster. It is used to route traffic to a variety of services that can be co-located behind the same load balancer.
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: default-gateway
  namespace: gateway # custom namespace for gateways
  annotations:
    cert-manager.io/cluster-issuer: cloudflare
spec:
  gatewayClassName: cilium
  listeners:
    - protocol: HTTP
      port: 80
      name: https-redirect
    - protocol: HTTPS
      port: 443
      name: longhorn
      hostname: "longhorn.local.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: longhorn-local-julianmaze-com-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: longhorn-system
    - protocol: HTTPS
      port: 443
      name: media
      hostname: "*.media.jmaz.tv"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: wildcard-media-jmaz-tv-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: media
    - protocol: HTTPS
      port: 443
      name: local-subdomain
      hostname: "*.local.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: wildcard-local-julianmaze-com-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            # There should be multiple here
            matchLabels:
              kubernetes.io/metadata.name: external-services
    - protocol: HTTPS
      port: 443
      name: home-assistant-public
      hostname: "home.julianmaze.com"
      tls:
        mode: Terminate # Terminate TLS at the gateway
        certificateRefs:
          - name: home-julianmaze-com-tls
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            # There should be multiple here
            matchLabels:
              kubernetes.io/metadata.name: external-services
