global:
  fallbackDefaults:
    probeTimeouts:
      liveness:
        timeoutSeconds: 30
        periodSeconds: 120
      readiness:
        timeoutSeconds: 30
        periodSeconds: 120

# Disable the metrics service
service:
  metrics:
    enabled: false

# Disable the exportarr container
workload:
  main:
    podSpec:
      containers:
        main:
          resources:
            limits:
              cpu: 4000m
              memory: 8192Mi
        exportarr:
          enabled: false

# Overload values for persistence here to mount our media pvc
persistence:
  config:
    enabled: true
    existingClaim: sonarr
    targetSelector:
      main:
        main:
          mountPath: /config
  media:
    enabled: true
    existingClaim: ds1522-media
    mountPath: "/media"

# Disabling metrics - we do not have a Prometheus instance set up yet.
metrics:
  main:
    enabled: false
