image:
  repository: tccr.io/truecharts/jackett
  pullPolicy: IfNotPresent
  tag: latest

securityContext:
  readOnlyRootFilesystem: false

service:
  main:
    ports:
      main:
        protocol: HTTP
        targetPort: 9117
        port: 9117

probes:
  liveness:
    path: "/UI/Login"

  readiness:
    path: "/UI/Login"

  startup:
    path: "/UI/Login"

portal:
  enabled: true

persistence:
  config:
    enabled: true
    existingClaim: jmaze-k8s-media
    mountPath: "/config"
    subPath: "jackett/config"
