image:
  repository: lscr.io/linuxserver/jackett
  pullPolicy: Always
  tag: latest

securityContext:
  # readOnlyRootFilesystem: false
  runAsNonRoot: false
  allowPrivilegeEscalation: true
  runAsUser: 0
  runAsGroup: 0

env:
  PUID: 0
  PGID: 0

service:
  main:
    ports:
      main:
        protocol: HTTP
        targetPort: 9117
        port: 9117

probes:
  liveness:
    path: "/UI/Login"

  readiness:
    path: "/UI/Login"

  startup:
    path: "/UI/Login"

portal:
  enabled: true

persistence:
  config:
    enabled: true
    existingClaim: jmaze-k8s-media
    mountPath: "/config"
    subPath: "jackett/config"
