image:
  repository: lscr.io/linuxserver/jackett
  pullPolicy: Always
  tag: latest
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    allowPrivilegeEscalation: true
    runAsUser: 0
    runAsGroup: 0
env:
  PUID: 0
  PGID: 0
service:
  main:
    ports:
      main:
        protocol: http
        targetPort: 9117
        port: 9117
persistence:
  config:
    enabled: true
    mountPath: "/config"
    existingClaim: jackett
portal:
  open:
    enabled: true
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              path: "/UI/Login"
            readiness:
              path: "/UI/Login"
            startup:
              path: "/UI/Login"
