apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  namespace: "media"
  name: allow-run-as-root
spec:
  privileged: false
  runAsUser:
    rule: "RunAsAny"
  seLinux:
    rule: "RunAsAny"
  supplementalGroups:
    rule: "RunAsAny"
  fsGroup:
    rule: "RunAsAny"
