---
kind: Service
apiVersion: v1
metadata:
  name: home-assistant
  namespace: external-services
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8123
    - name: scrypted
      port: 11080
      targetPort: 11080
    - name: scrypted-https
      port: 10443
      targetPort: 10443

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: home-assistant
  namespace: external-services
  labels:
    kubernetes.io/service-name: home-assistant
addressType: IPv4
endpoints:
  - addresses:
      - 10.50.25.55
    conditions:
      ready: true
ports:
  - name: http
    port: 8123
  - name: scrypted-https
    port: 10443
  - name: scrypted
    port: 11080
