version: "3.8"

services:
  portainer:
    image: coredns/coredns:latest
    container_name: coredns
    restart: always
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - C:\Users\jmmaz\OneDrive\Homelab\Projects\Docker\local\root:/root
    command: "-conf /root/Corefile"
