services:
  wireguard:
    container_name: wireguard
    image: linuxserver/wireguard:latest
    volumes:
      - /home/pi/wireguard:/config
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
     - TZ=America/Los_Angeles
     - LOG_CONFS=true
     - PUID=0
     - PGID=0
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    sysctls:
      net.ipv4.conf.all.src_valid_mark: 1
      net.ipv4.ip_forward: 1
    restart: always
    networks:
      default:
        ipv4_address: 172.19.0.50
networks:
  default:
    name: wgnet
    external: true