apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "surfcam"
  name: "jmaze-k8s-surfcam"
spec:
  storageClassName: "manual"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "1Gi"
