[Unit]
Description=Start OpenVPN 3 session for CyberGhost
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/openvpn3 session-start --config cyberghost.ovpn
ExecStartPost=/usr/local/bin/setup-cilium-vpn-routing.sh
ExecStop=/usr/bin/openvpn3 session-manage --disconnect --config cyberghost.ovpn
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
