[Unit]
Description=Apply custom iptables rules for WireGuard VPN
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wg-voltaire-iptables.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target