[Unit]
Description=Apply custom iptables rules for WireGuard VPN
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'until [ "$(docker inspect -f {{.State.Running}} wireguard 2>/dev/null)" = "true" ]; do sleep 1; done'
ExecStart=/usr/local/bin/wg-iptables.sh
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=multi-user.target