apiVersion: v1
data:
  Corefile: |
    .:53 {
        errors
        health
        ready
        rewrite name regex (.*)(jmaz.tv|julianmaze.com|ayertonz.com) ingress-nginx-controller.ingress-nginx.svc.cluster.local
        kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
        }
        hosts /etc/coredns/NodeHosts {
          ttl 60
          reload 15s
          fallthrough
        }
        prometheus :9153
        forward . /etc/resolv.conf
        cache 30
        loop
        reload
        loadbalance
    }
  NodeHosts: |-
    10.50.25.60 jmaze-k3s-node1
    10.50.25.61 jmaze-k3s-node2
kind: ConfigMap
metadata:
  annotations:
    objectset.rio.cattle.io/owner-gvk: k3s.cattle.io/v1, Kind=Addon
    objectset.rio.cattle.io/owner-name: coredns
    objectset.rio.cattle.io/owner-namespace: kube-system
  creationTimestamp: "2023-02-12T22:18:22Z"
  labels:
    objectset.rio.cattle.io/hash: bce283298811743a0386ab510f2f67ef74240c57
  name: coredns
  namespace: kube-system
  resourceVersion: "149768633"
  uid: e90390aa-b24e-4846-8217-9b0cc44a60ad
