apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "media"
  name: "jmaze-k8s-media"
spec:
  storageClassName: "manual"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "20Gi"
